@using sigestel.Tools;
@model Paginacion<SutFacturas>

<script>
    function actualizarFormulario(valor) {
        console.log("Cantidad de registros seleccionados:", valor);
        document.forms[0].submit(); // Esto asume que es el primer formulario en la página
        // Almacena el valor en la sesión
        fetch(`/SutFacturas/Index?cantidadRegistros=${valor}`, { method: 'POST' }); // Ajusta la URL y método según tu aplicación
    }
</script>
<div class="container my-3">

    <h1 class="text-center">Listado de facturas</h1>

    <div class="row mb-3 justify-content-center">
        <div class="col-md-4">
            <form asp-controller="SutFacturas" asp-action="Index" class="form-inline">
                <div class="form-group mr-2">
                    <label for="buscar" class="mr-2">Buscar:</label>
                    <input type="text" id="buscar" name="buscar" value="@ViewData["FiltroActual"]" class="form-control" />
                </div>
                <div class="form-group mr-2">
                    <button type="submit" value="" class="btn btn-sm sigestelprimario-fnt" /><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
       <div class="col-md-4">
         <form asp-controller="SutFacturas" asp-action="Index" class="form-inline">
            <div class="form-group mr-2">
                <label for="cantidadRegistros" class="mr-2">Cantidad de registros:</label>
                    <select name="cantidadRegistros" class="form-control mr-2" onchange="console.log(this.value); this.form.submit()">
                        <option value="6">--</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100" >100</option>
                    </select>
            </div>
        </form>
        </div>
        <div class="col-md-4">
            <form asp-controller="SutFacturas" asp-action="Index" class="form-inline">
                <div class="form-group mr-2">
                    <label for="cantidadRegistros" class="mr-2">Bancos:</label>
                    <select name="SelectedBanco" class="form-control mr-2" onchange="this.form.submit()">
                        <option value="">Todos los bancos</option>
                        @{
                            //aqui cogemos los text de los bancos y como coinciden con los de bdd pues le pasamos el banco 
                            // y filtramos
                            var bancos = ViewData["Bancos"] as SelectList;
                            foreach (var item in bancos)
                            {
                                <option value="@item.Text">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <form asp-controller="SutFacturas" asp-action="Index" class="form-inline">
                <div class="form-group mr-2">
                    <label for="cantidadRegistros" class="mr-2">Clientes</label>
                    <select name="SelectedCliente" class="form-control mr-2" onchange="this.form.submit()">
                        <option value="">Tipo cliente</option>
                        @{
                            //aqui cogemos los text de los bancos y como coinciden con los de bdd pues le pasamos el banco
                            // y filtramos
                            var clientes = ViewData["Clientes"] as SelectList;
                            foreach (var item in clientes)
                            {
                                <option value="@item.Text">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <form asp-controller="SutFacturas" asp-action="Index" class="form-inline">
                <div class="form-group mr-2">
                    <label for="fechadesde" class="mr-2">Desde:</label>
                    <input type="date" id="fechadesde" name="fechadesde" value="@ViewData["FiltroActual"]" class="form-control" />
                    <label for="fechahasta" class="mr-2">Hasta:</label>
                    <input type="date" id="fechahasta" name="fechahasta" value="@ViewData["FiltroActual"]" class="form-control" />
                </div>
                <div class="form-group mr-2">
                    <button type="submit" value="" class="btn btn-sm sigestelprimario-fnt" /><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mt-4">
        <div class="card">
            <table class="table table-success table-striped tabla-crud">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-ordenActual="@ViewData["FiltroNombre"]"
                               asp-route-filtroActual="@ViewData["FiltroActual"]">
                                Nombre
                            </a>
                        </th>
                        <th>
                            
                                Cliente
                            
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-ordenActual="@ViewData["FiltroFecha"]"
                               asp-route-filtroActual="@ViewData["FiltroActual"]">
                                Fecha
                            </a>
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreBanco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFactura)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-success bi bi-pencil" asp-route-id="@item.IdFactura"></a> |
                                <a asp-action="Details" class="btn btn-info bi bi-eye" asp-route-id="@item.IdFactura"></a> |
                                <a asp-action="Delete" class="btn btn-outline-danger bi bi-trash" asp-route-id="@item.IdFactura"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @{
        var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
        var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
    }
    <div class="row justify-content-center mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary sigestelprimario-fnt @anteriordeshabilitado">Anterior</a>


        @for (var i = Math.Max(1, Model.PaginaInicio - 2); i <= Math.Min(Model.PaginasTotales, Model.PaginaInicio + 2); i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i"
               asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary sigestelprimario-fnt @paginaactiva">
                @i
            </a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary sigestelprimario-fnt @siguientedeshabilitado">Siguiente</a>

            </ul>
        </nav>
    </div>
    <div class="row justify-content-center mt-3">
                <form asp-controller="SutFacturas" asp-action="Index" method="get" class="form-inline" onsubmit="return actualizarFormulario(1, 10)">
            <button type="submit" name="exportarExcel" value="exportarExcel">Exportar a Excel</button>
        </form>
            
        </div>
    </div>
</div>

